$text: #333;
$background: white;
$header-text: #777;
$accent: #eb593c;
$nav-background: $accent;
$nav-text: white;

// Links
$link-color: $accent;
$link-hover-bg-color: $background;
$link-hover-color: #b85;
$link-underline-color: $link-color;

$lighten-border: rgba(255, 255, 255, 0.3);

$link-underline-style: solid;
$link-hover-underline-style: solid;
