$text: #d2e4d2;
$header-text: #fffff7;
$nav-gradient-webkit: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7D877D), to(#606860));
$dark-accent: #606860;
$link-color: $header-text;
$nav-color: #CFCABE;
$lighten-border: rgba(255, 255, 255, 0.3);

$medium-green: #9ABE97;
  $link-hover-color:          $medium-green;
  $box-bg-color:              $medium-green;

$dark-black: #2F2926;
  $header-bg-color:           $dark-black;
  $box-text-color:            $dark-black;
  $nav-border-bottom-color:   $dark-black;

$light-black: #343537;
  $background:                $light-black;

$orange: #AA5638;
  $box-link-color:            $orange;

$accent: #999;
  $subtitle-color:            $accent;
