/* Defaults */
body, textarea {
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: $medium;
  line-height: $line-height;
}
body {
  background: $background;
  color: $text;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3 {
  color: $header-text;
  font-weight: $header-font-weight;
}
h1 {
  font-size: $x-large;
  line-height: $header-line-height;
  margin-bottom: $line-height;

	a, a:visited {
		color: $header-text;
	}
	
	a:hover, a:focus {
	  color: $link-color;
	}
}
h2 {
  $top-margin: 9px;
  font-size: $large;
  padding: $top-margin 0 $line-height - $top-margin 0;
}
h3,
p,
ul,
ol,
.long li {
  margin-left: 0;
  margin-bottom: $line-height;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
li {
  margin-left: $line-height * 2;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
ul.inline-list {
  list-style-type: none;
  padding: 0;
  
  li {
    display: inline;
  }
}
.unbulleted {
  list-style-type: none;
  padding: 0;

  li {
    margin-left: 0;
  }
}
a,
a:visited,
a:hover,
a:focus {
	text-decoration: none;
	color: $link-color;
	font-weight: normal;
}
a:hover,
a:focus {
  color: $link-hover-color;
}

article {
  p, li {
    @extend .underlined-link;
  }
}
.left {
  float: left;
  margin-right: $line-height;
  margin-bottom: $line-height;
}