$column-margin: 10px;
.column {
	margin: 0 $column-margin;
	float: left;
	display: inline;
}
.row {
	width: $page-width;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	margin: 0 -1*$column-margin;
	width: auto;
	display: inline-block;
}

.top_row {
  width: $page-width;
  margin: 0 auto;
}
$left-column-width: 100px;
.left-column {
  @extend .column;
  width: $left-column-width;
}
.center-column {
  @extend .column;
  width: 460px;
  padding-right: 60px;
}
.right-column {
  @extend .column;
  width: 88px;
}
