#header {
	background: $nav-background;
	padding: $line-height/2 0;
	font-weight: $header-font-weight;
	
	.row {
		position: relative;
		overflow: none;
	}
	header {
		font-size: $xx-large;
		line-height: 40px;
	}
	a,
  a:visited {
    font-weight: $header-font-weight;
  	color: $nav-text;
  }
  a:hover,
  a:focus {
    color: $link-hover-color;
  }
}

#profile {
	position: relative;
	height: 0px;
	width: $page-width;
	margin: 0px auto;
	
	img#profile-image {
		position: absolute;
		top: 10px;
		left: 10px;
		border: 2px solid $text;
		width: 96px;
		height: 96px;
	}
}

#nav {
	margin-bottom: $line-height * 2;
	width: 100%;

	ul {
		@extend .unbulleted;
		margin: $line-height/2 0;
	}
	li {
		display: inline;
		padding: 0 $line-height/2 0 0;
	}
}
