#index {
  .date {
    font-weight: 300;
  }
  .left-column {
    text-align: right;
  }
  .post-title {
    padding-bottom: 4px;
  }
  #contents {
    margin-bottom: $line-height;
    @extend .unbulleted;
  }
}
