/* Layout */
.underlined-link {
  a,
  a:visited {
    border-bottom: 1px dotted $link-color;
  }
  a:hover,
  a:focus {
    border-bottom: 2px solid $link-hover-color;
  }
}
body, textarea {
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: $medium;
  line-height: $line-height;
}
body {
  background: $background;
  color: $text;
  font-weight: 300;
}
h1, h2, h3 {
  color: $header-text;
  font-weight: $header-font-weight;
}
h1 {
  font-size: $x-large;
  line-height: $header-line-height;
  margin-bottom: $line-height;

	a, a:visited {
		color: $header-text;
	}
	
	a:hover, a:focus {
	  color: $link-color;
	}
}
h2 {
  $top-margin: 9px;
  font-size: $large;
  padding: $top-margin 0 $line-height - $top-margin 0;
}
h3,
p,
ul,
ol,
.long li {
  margin-bottom: $line-height;
}
ul {
  list-style-type: disc;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
ul.inline-list {
  list-style-type: none;
  padding: 0;
  
  li {
    display: inline;
  }
}
ul.unbulleted {
  list-style-type: none;
  padding: 0;
}
a,
a:visited,
a:hover,
a:focus {
	text-decoration: none;
	color: $link-color;
}
a:hover,
a:focus {
  color: $link-hover-color;
}

article {
  p, li {
    @extend .underlined-link;
  }
}

$box-border-width: 1px;
$box-padding: $line-height / 2 - $box-border-width;
$box-space: $box-padding + $box-border-width;

.box {
  border: $box-border-width dotted $accent;
  background: $dark;
  padding: $box-padding;
  
  a,
  a:visited {
    color: $link-hover-color;
  }
  a:hover,
  a:focus {
    border-bottom: 2px solid $link-hover-color;
  }
}

.img-float-left {
  float: left;
  margin: 0 $line-height $line-height 0;
}
