$line-height:         20px;
$header-line-height:  $line-height * 1.5;
$medium:              14px;
$small:               12px;
$large:               17px;
$x-large:             21px;
$page-width:          100%;
