.page {
  $small-avatar-size: $line-height;
  $small-avatar-padding-right: $line-height / 2;
  $postscript-margin-left: -1 * ($small-avatar-size + $small-avatar-padding-right + $box-space);
  
  #publish-date {
    float: right;
    font-size: $large;
    padding-top: 7px;
  }
  .small-avatar {
    width: $small-avatar-size;
    height: $small-avatar-size;
    float: left;
    padding-right: $small-avatar-padding-right;
  }
  #postscript {
    margin-left: $postscript-margin-left;
  }
}

#social-buttons {
  padding-top: 8px;
}

.fixed {
  position: fixed;
  top: 0;
}

.social-button {
  margin-bottom: $line-height / 2;
}
