@import "mobile_sizes";
@import "shared";
@import "index.mobile";

$body-padding: 0 7px;

html {
  -webkit-text-size-adjust: none;
}
.left-column, .right-column {
  display: none;
}
#date-column {
  display: block;
  text-align: left;
  padding: $body-padding;
}
.row {
  width: 100%;
}
.center-column {
  width: 100%;
  margin: 0;
  padding: $body-padding;
  @include box-sizing(border-box);
}
#profile {
  display: none;
}
#header {
  padding: $line-height/2 0;
}
#nav ul {
  margin: $line-height/2 0;
}
#nav {
  margin-bottom: $line-height;
}
#header header {
  line-height: $line-height * 1.5;
}
.small-avatar {
  $small-avatar-size: $line-height * 2;
  width: $small-avatar-size;
  height: $small-avatar-size;
  float: left;
  padding-right: $line-height / 2;
}
