// Infrastructure
@import "screen_sizes";
@import "shared";
@import "grid";

// Components
@import "index.screen";
@import "pages";
@import "footer";

#bio {
  margin: 0 -1*$column-margin $line-height -1*$column-margin;
}
