/* line 17, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/_css3.scss */
.rounded5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* Defaults */
/* line 2, ../sass/_defaults.scss */
body, textarea {
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/* line 7, ../sass/_defaults.scss */
body {
  background: white;
  color: #333333;
}

/* line 11, ../sass/_defaults.scss */
h1, h2, h3 {
  color: #777777;
  font-weight: 600;
}

/* line 15, ../sass/_defaults.scss */
h1 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 24px;
}
/* line 20, ../sass/_defaults.scss */
h1 a, h1 a:visited {
  color: #777777;
}
/* line 24, ../sass/_defaults.scss */
h1 a:hover, h1 a:focus {
  color: #eb593c;
}

/* line 28, ../sass/_defaults.scss */
h2 {
  font-size: 21px;
  padding: 8px 0 16px 0;
}

/* line 38, ../sass/_defaults.scss */
h3,
p,
pre,
ul,
ol,
.long li {
  margin-left: 0;
  margin-bottom: 24px;
}

/* line 42, ../sass/_defaults.scss */
ul {
  list-style-type: disc;
}

/* line 45, ../sass/_defaults.scss */
ol {
  list-style-type: decimal;
}

/* line 48, ../sass/_defaults.scss */
li {
  margin-left: 48px;
}

/* line 51, ../sass/_defaults.scss */
em {
  font-style: italic;
}

/* line 54, ../sass/_defaults.scss */
strong {
  font-weight: bold;
}

/* line 57, ../sass/_defaults.scss */
ul.inline-list {
  list-style-type: none;
  padding: 0;
}
/* line 61, ../sass/_defaults.scss */
ul.inline-list li {
  display: inline;
}

/* line 65, ../sass/_defaults.scss */
.unbulleted, #nav ul {
  list-style-type: none;
  padding: 0;
}
/* line 69, ../sass/_defaults.scss */
.unbulleted li, #nav ul li {
  margin-left: 0;
}

/* line 76, ../sass/_defaults.scss */
a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
  color: #eb593c;
  font-weight: normal;
}

/* line 82, ../sass/_defaults.scss */
a:hover,
a:focus {
  color: #bb8855;
}

/* line 91, ../sass/_defaults.scss */
article a.image-link, article a.image-link:visited, article a.image-link:hover, article a.image-link:focus {
  border: 0;
  background: transparent;
}
/* line 99, ../sass/_defaults.scss */
article blockquote {
  font-style: italic;
  border-left: 2px solid #333333;
  padding-left: 22px;
}

/* line 106, ../sass/_defaults.scss */
.left {
  float: left;
  margin: 12px 12px 12px 0;
}

/* line 110, ../sass/_defaults.scss */
.right {
  float: right;
  margin: 12px 0 12px 12px;
}

/* line 114, ../sass/_defaults.scss */
.center-block {
  margin: 0 auto 24px auto;
}

/* line 117, ../sass/_defaults.scss */
.clear {
  clear: both;
}

/* line 120, ../sass/_defaults.scss */
.gist {
  font-size: 12px;
}

/* line 123, ../sass/_defaults.scss */
code, pre {
  font-family: 'Bitstream Vera Sans Mono', Monaco, Courier, monospace;
  font-size: 12px;
  padding: 2px 4px;
  margin: 0 2px;
  color: #eb593c;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 133, ../sass/_defaults.scss */
pre {
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  margin-bottom: 24px;
}
/* line 140, ../sass/_defaults.scss */
pre code {
  border: 0;
  padding: 0;
  margin: 0;
}

/* Layout */
/* line 4, ../sass/_layout.scss */
.underlined-link a, article p a, article li a,
.underlined-link a:visited,
article p a:visited,
article li a:visited {
  border-bottom: 1px solid #eb593c;
}
/* line 8, ../sass/_layout.scss */
.underlined-link a:hover, article p a:hover, article li a:hover,
.underlined-link a:focus,
article p a:focus,
article li a:focus {
  background: white;
  color: #eb593c;
}

/* line 37, ../sass/_layout.scss */
.img-float-left {
  float: left;
  margin: 0 24px 24px 0;
}

/* line 43, ../sass/_layout.scss */
a.image-link, a.image-link:visited, a.image-link:hover, a.image-link:focus {
  border: 0;
}

/* line 1, ../sass/_header.scss */
#header {
  background: #eb593c;
  padding: 12px 0;
  font-weight: 600;
}
/* line 6, ../sass/_header.scss */
#header .row {
  position: relative;
  overflow: none;
}
/* line 10, ../sass/_header.scss */
#header header {
  font-size: 35px;
  line-height: 40px;
}
/* line 15, ../sass/_header.scss */
#header a,
#header a:visited {
  font-weight: 600;
  color: white;
}
/* line 20, ../sass/_header.scss */
#header a:hover,
#header a:focus {
  color: #bb8855;
}

/* line 25, ../sass/_header.scss */
#profile {
  position: relative;
  height: 0px;
  width: 768px;
  margin: 0px auto;
}
/* line 31, ../sass/_header.scss */
#profile img#profile-image {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 2px solid #333333;
  width: 96px;
  height: 96px;
}

/* line 41, ../sass/_header.scss */
#nav {
  margin-bottom: 48px;
  width: 100%;
}
/* line 45, ../sass/_header.scss */
#nav ul {
  margin: 12px 0;
}
/* line 49, ../sass/_header.scss */
#nav li {
  display: inline;
  padding: 0 12px 0 0;
}

/* line 2, ../sass/_index.screen.scss */
#index .date {
  font-weight: 300;
}
/* line 5, ../sass/_index.screen.scss */
#index .left-column {
  text-align: right;
}
/* line 8, ../sass/_index.screen.scss */
#index .contents {
  margin-bottom: 24px;
}
/* line 11, ../sass/_index.screen.scss */
#index li {
  margin-left: 24px;
}

/* line 6, ../sass/_pages.scss */
.page #publish-date {
  float: right;
  font-size: 21px;
  padding-top: 7px;
}
/* line 11, ../sass/_pages.scss */
.page .small-avatar {
  width: 24px;
  height: 24px;
  float: left;
  padding-right: 12px;
}
/* line 17, ../sass/_pages.scss */
.page #postscript {
  margin-left: -48px;
}

/* line 22, ../sass/_pages.scss */
#social-buttons {
  padding-top: 8px;
}

/* line 26, ../sass/_pages.scss */
.fixed {
  position: fixed;
  top: 0;
}

/* line 31, ../sass/_pages.scss */
.social-button {
  margin-bottom: 12px;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
/* line 8, ../sass/_footer.scss */
html, body {
  height: 100%;
}

/* line 11, ../sass/_footer.scss */
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -72px;
  /* the bottom margin is the negative value of the footer's height */
}

/* line 17, ../sass/_footer.scss */
#footer, #push {
  height: 72px;
  /* .push must be the same height as .footer */
  font-size: 12px;
}
/* line 21, ../sass/_footer.scss */
#footer .center-column, #push .center-column {
  padding: 24px 0;
}
