<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="author" content="Sam Grossberg" />
  <link rel="stylesheet" media="screen and (min-device-width: 481px)" href="/stylesheets/screen.css" />
  <link rel="stylesheet" media="screen and (max-device-width: 480px)" href="/stylesheets/mobile.css">
  <script type="text/javascript" src="http://use.typekit.com/dwi8ggm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!-- Media queries and HTML5 for old IE -->
  <!--[if lt IE 9]>
  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
</head>

<body>
  <div id='profile'>
    <img alt='Sam Grossberg' src='/images/sam-grossberg.jpg' />
  </div>
  
  <div id='header' class='tk-myriad-pro'>
    <div class='row'>      
      <div class='left-column'>
        &nbsp;
      </div>
    
      <div class='center-column'>
        <header><a href='/'>Sam Grossberg</a></header>
        <div class='subtitle'>Dev at <a href='http://gopollgo.com/'>GoPollGo</a>. Skier, climber, geek.</div>
      </div>
    </div>
  </div>
  
  <div id='nav'>
    <div class='row'>
      <div class='left-column'>&nbsp;</div>
      <div class='center-column'>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/about.html'>About</a></li>
          <li><a href='/projects.html'>Projects</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  {{ content }}
  
</body>
</html>