<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Sam Grossberg" />
  <script type="text/javascript" src="http://use.typekit.com/dwi8ggm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
  <div id='profile'>
    <img alt='Sam Grossberg' src='/images/sam-grossberg.jpg' />
  </div>
  
  <div id='header' class='tk-myriad-pro'>
    <div class='row'>      
      <div class='column grid_2'>
        &nbsp;
      </div>
    
      <div class='column grid_9'>
        <header><a href='/'>Sam Grossberg</a></header>
        <div class='subtitle'>Dev at <a href='http://gopollgo.com/'>GoPollGo</a>. Skier, climber, geek.</div>
      </div>
    </div>
  </div>
  
  <div id='nav'>
    <div class='row'>
      <div class='column grid_2'>&nbsp;</div>
      <div class='column grid_9'>
        <ul>
          <li><a href='#'>Home</a></li>
          <li><a href='#'>About</a></li>
          <li><a href='#'>Work</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  {{ content }}
  
</body>
</html>