<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="author" content="Sam Grossberg" />
  {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
  {% else %}
    <meta name="description" content="The weblog and home page of Sam Grossberg, developer at GoPollGo. Discussing programming topics, outdoor recreation, and musing on life." />
  {% endif %}
  <link rel="stylesheet" media="screen and (min-device-width: 481px)" href="/stylesheets/screen.css" />
  <link rel="stylesheet" media="screen and (max-device-width: 480px)" href="/stylesheets/mobile.css">
  <script type="text/javascript" src="http://use.typekit.com/dwi8ggm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!-- Media queries and HTML5 for old IE -->
  <!--[if lt IE 9]>
  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27958874-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>

<body>
  <div id='wrapper'>
    <div id='header' class='tk-myriad-pro' itemscope itemtype="http://data-vocabulary.org/Person">
      <div id='profile'>
        <a href='/'>
          <img alt='Sam Grossberg' src='/images/sam-grossberg.jpg' itemprop='photo' id='profile-image'/>
        </a>
      </div>
      <div class='row'>
        <div class='left-column'>
          &nbsp;
        </div>
    
        <div class='center-column'>            
          <header itemprop='name'><a href='/' itemprop="url">Sam Grossberg</a></header>
          <div class='subtitle'>
            <span itemprop="title">Dev</span> at <a href='http://gopollgo.com/' itemprop='affiliation'>GoPollGo</a>. Skier, climber, geek.
          </div>
        </div>
      </div>
    </div>
  
    <div id='nav'>
      <div class='row'>
        <div class='left-column'>&nbsp;</div>
        <div class='center-column'>
          <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/about.html' rel='author'>About</a></li>
            <li><a href='/projects.html'>Projects</a></li>
          </ul>
        </div>
      </div>
    </div>
  
    {{ content }}
    
    <div id='push'></div>
  </div>
  
  <div id='footer'>
    <div class='row'>
      <div class='left-column'>&nbsp;</div>
      <div class='center-column'>
        Email <a href='mailto:&#115;&#097;&#109;&#103;&#114;&#111;&#115;&#115;&#098;&#101;&#114;&#103;&#064;&#102;&#097;&#099;&#101;&#098;&#111;&#111;&#107;&#046;&#099;&#111;&#109;'>&#115;&#097;&#109;&#103;&#114;&#111;&#115;&#115;&#098;&#101;&#114;&#103;&#064;&#102;&#097;&#099;&#101;&#098;&#111;&#111;&#107;&#046;&#099;&#111;&#109;</a>
        | Fork <a href='http://www.github.com/samgro'>samgro</a>
        | Follow <a href='http://twitter.com/samgrossberg'>@samgrossberg</a>
      </div>
    </div>
  </div>
  <script>
  // Make all external links target='_blank'
  var links = document.links;

  for (var i = 0, linksLength = links.length; i < linksLength; i++) {
     if (links[i].hostname != window.location.hostname) {
         links[i].target = '_blank';
     }
  }
  </script>
</body>
</html>